<!-- Agency-Style Navigation -->
<nav class="navbar navbar-expand navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="./home.html">旅行路线助手</a>
        <div class="navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto">
                <li class="nav-item"><a class="nav-link" href="./home.html">首页</a></li>
                <li class="nav-item"><a class="nav-link" href="./recommend.html">路线推荐</a></li>
                <li class="nav-item"><a class="nav-link" href="./route-map.html">路线地图</a></li>
                <li class="nav-item"><a class="nav-link" href="./red-tourism.html">红色旅游</a></li>
                <li class="nav-item"><a class="nav-link" href="./itinerary.html">行程安排</a></li>
                <li class="nav-item"><a class="nav-link" href="./trip.html">出行助手</a></li>
            </ul>
        </div>
        <div class="d-flex align-items-center gap-2 ms-3" id="user-actions">
            <a href="./login.html" class="btn btn-outline-light btn-sm">登录</a>
            <a href="./register.html" class="btn btn-warning btn-sm">注册</a>
        </div>
    </div>
</nav>
